<!-- 
<div
    class="app-container"
    [class.blur]="showTaskForm">

    <app-header
        (filtersChanged)="onFiltersChanged($event)"
        (addTask)="openTaskForm()">
    </app-header>

    <app-task-list></app-task-list>

    <app-task-item 
        *ngIf = "taskService.showTask"
        [selectedTask] = "taskService.selectedTask"
    ></app-task-item>


</div>

<app-task-form
    *ngIf="showTaskForm"
    (close)="showTaskForm = false">
</app-task-form>

 -->



 <div
    class="app-container"
    [class.blur]="showTaskForm">

    <app-header
        (filtersChanged)="onFiltersChanged($event)"
        (addTask)="openTaskForm()">
    </app-header>

    <div class="task-container">
        <app-task-list></app-task-list>
    </div>

    <app-task-item 
        *ngIf="taskService.showTask"
        [selectedTask]="taskService.selectedTask">
    </app-task-item>

</div>

<app-task-form
    *ngIf="showTaskForm"
    (close)="showTaskForm = false">
</app-task-form>